@font-face {
    font-family: "en";
    src: url("/assest/font/en.ttf");
}

@font-face {
    font-family: "math";
    src: url("/assest/font/math.otf");
}

* {
    font-family: Vazirmatn, "en", "math", Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("/assest/background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.icon {
    max-width: 3%;
}

.levelCol button {
    background-color: rgb(148, 29, 148);
    color: white;
    min-width: 40%;
    border-radius: 12px;
    border: black solid 1px;
    box-shadow: blueviolet 2% 2%;
}

.levelCol .lock-btn {
    background-color: rgb(24, 5, 24);
}

.levelCol button:hover {
    background-color: rgba(0, 0, 0, 0);
}

.text-bg {
    max-width: 80%;
    margin-left: 10%;
    background-color: #333;
    border-radius: 12px;
    border: black solid 1px;
    color: white;
}

.img-bg {
    margin-right: -10%;
}

.information {
    background-color: #333333cd;
    border: #333 solid 1px;
    border-radius: 12px;
}

.quiz {
    background-color: #333333cd;
    border: #333 solid 1px;
    border-radius: 12px;
}

.panoramaEmbed {
    width: max-content;
    height: max-content;
    min-width: 100%;
    min-height: 100%;
}

.optionBtn {
    margin-top: 1%;
}