<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta property="pg:title" content="ریاضی با چاشنی تور مجازی">
	<meta property="og:image" content="/assest/icon.png">
	<meta property="og:description" content="بیاید ریاضی بازی کنیم 🖐">
    <meta property="viewport" content="width=device-width, initial-scale=1.0">
    <title>ریاضی با چاشنی تور مجازی</title>
    {% block head %}
    {% endblock %}
	<link rel="stylesheet" href="/static/fontawesome/css/all.css">
	<link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/assest/font/Vazirmatn-font-face.css">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">	
		<div class="navbar-brand icon">
			<img src="/assest/logo.png" id="icon" width="100%">
		</div>
		<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#externalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button> -->
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" id="homeBtn" href="/">خانه <i class="fa-solid fa-house"></i></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="aboutBtn" href="/about">درباره ما <i class="fa-solid fa-user"></i></a>
			</li>
		</ul>
		
		<!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button> -->
    </nav>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
    <div>
        <script src="/static/main.js"></script>
        {% block scripts %}
        {% endblock %}
    </div>
</body>
</html>